.post-type-archive-evento {
  .destacado {
    .capaTexto {
      width: 25%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 2%;

      .entry-content {
        color: #fff;
        font-size: 0.7rem;
        line-height: 1.2;
        font-weight: 300;
        margin-bottom: 5px;
        min-height: 50px;
      }
    }
  }

  @media (max-width: 1920px) {
    .container {
      max-width: 100% !important;
    }
  }

  .page-header-agenda {
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      border-bottom: solid 3px theme-color("secundario");
      margin: 3% 0 3% 0;
      padding-bottom: 1%;
    }
  }
}
