.espacios {
  .wpgmp_filter_wrappers {
    display: none;
  }

  .place_title {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    min-height: 70px;
  }

  .fc-location-marker {
    min-height: 60px !important;
  }
}
