footer {
  background-color: #1b1e21;
  padding: 2% 0 1% 0;

  .container {
    width: 100%;
    padding-left: $nav_w + 10px;
  }

  h3 {
    font-size: 1rem;
    color: #fff;
    text-align: center;
  }

  img.logo_footer {
    max-width: 160px;
  }

  .footerLegales {
    text-align: center;
  }

  ul#menu-menu-legales,
  ul#menu-menu-legales-ingles {
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 15px;

      a {
        font-size: 0.9rem;
        color: #fff;
      }
    }
  }

  ul#menu-menu-footer,
  ul#menu-menu-footer-ingles {
    padding-inline-start: 0;
    width: 100%;
    display: block;
    list-style-type: none;

    li {
      margin-right: 15px;
      width: auto;
      display: inline-grid;
      padding: 0;

      a {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        color: theme-color("secundario");
      }

      a:first-child {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        pointer-events: none;
        color: theme-color("secundario");
      }
    }

    ul.sub-menu {
      padding-inline-start: 0;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      display: block;

      li {
        display: block;
        padding: 0;

        a {
          text-transform: none;
          font-size: 0.8rem;
          font-weight: 300;
          color: theme-color("blanco");
          pointer-events: all;
        }
      }
    }
  }

  .formNewsletter_wrapper {
    a.linkConsentimiento {
      color: theme-color("secundario");
    }

    form.formNewsletter {
      width: 100%;

      div.gform_body {
        width: 100% !important;
        max-width: 100% !important;
      }

      .gform_body {
        width: 100% !important;
        color: #fff;

        ul.gform_fields {
          li.gfield {
            display: block !important;
          }
        }

        input[type=email] {
          background-color: transparent;
          border: none;
          border-bottom: solid 2px grey;
          color: #fff;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: theme-color("secundario");
          opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: theme-color("secundario");
        }
      }

      .gfield_consent_label {
        font-size: 0.7rem;
      }

      .gform_footer {
        input[type=submit] {
          font-size: 0.6rem !important;
          padding: 4px 15px !important;
          font-weight: 700 !important;
          color: theme-color("secundario") !important;
          background-color: transparent !important;
          text-transform: uppercase;
          border-radius: 25px !important;
          width: 100%;
          border: solid theme-color("secundario") 3px;

          &:hover {
            color: #fff !important;
            background-color: theme-color("secundario") !important;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .formNewsletter_wrapper {
      form.formNewsletter {
        width: 100%;
      }
    }

    .container {
      width: 100%;
      padding-left: 3%;
    }
  }

  @media (max-width: 768px) {
    .formNewsletter_wrapper {
      form.formNewsletter {
        width: 100%;
      }
    }

    .logoCentrado {
      margin-bottom: 4%;
      text-align: center;
    }
  }

  @media (max-width: 576px) {
    ul#menu-menu-footer,
    ul#menu-menu-footer-ingles {
      margin-bottom: 20px;

      li {
        margin-right: 0;
        width: 49%;

        a {
          white-space: nowrap;
        }
      }
    }
  }
}

footer#footer-territorio {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 350px;
  color: #999;
  height: 100vh;
  background-color: #1b1e21;
  padding: 2%;
  z-index: -100;

  .container {
    width: 100%;
  }

  h3 {
    font-size: 1rem;
    color: #fff;
  }

  .logoFooter {
    text-align: center;

    img.logo_footer {
      max-width: 160px;
    }
  }

  #menu-menu-legales,
  #menu-menu-legales-ingles {
    position: absolute;
    bottom: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      a {
        font-size: 0.7rem;
        color: #fff;
      }
    }
  }

  #menu-menu-footer,
  #menu-menu-footer-ingles {
    display: block;
    margin-top: 10%;

    li a:first-child {
      font-size: 0.9rem;
    }

    ul.sub-menu {
      li a {
        font-size: 0.7rem;
      }
    }
  }

  .formNewsletter_wrapper {
    form.formNewsletter {
      width: 100%;

      .gform_body {
        width: 100% !important;
        max-width: 100%;
        color: #fff;
        display: block;

        ul.gform_fields {
          li.gfield {
            display: block !important;
          }
        }

        input[type=email] {
          background-color: transparent;
          border: none;
          border-bottom: solid 2px grey;
          color: #fff;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: theme-color("secundario");
          opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: theme-color("secundario");
        }
      }

      .gfield_consent_label {
        font-size: 0.6rem;
        margin-left: 25px;
        margin-top: -15px;
      }

      .gform_footer {
        display: block;
        max-width: 100%;
        width: 100%;

        input[type=submit] {
          font-size: 0.6rem !important;
          padding: 4px 15px !important;
          font-weight: 700 !important;
          text-transform: uppercase;
          color: theme-color("secundario") !important;
          background-color: transparent !important;
          border-radius: 25px !important;
          width: 100%;
          border: solid theme-color("secundario") 3px;

          &:hover {
            color: #fff !important;
            background-color: theme-color("secundario") !important;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .nav_menu-3 {
      text-align: center;
    }

    #menu-menu-legales,
    #menu-menu-legales-ingles {
      position: relative;
      bottom: 3px;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;

      li {
        a {
          font-size: 0.7rem;
          color: #fff;
        }
      }
    }
  }
}
