.home {
  overflow-x: hidden;

  .controlVolumen {
    display: none;
  }

  .btnAbrir {
    &:hover {
      cursor: pointer;
    }
  }

  .btnAbrirEn {
    &:hover {
      cursor: pointer;
    }
  }

  .btnEliminarCapa {
    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: $textos_p;
  }

  .sinPadding {
    padding: 0;
  }

  .destacadoPrincipal {
    p {
      color: theme-color("blanco");
    }

    .fondoNoticia {
      background-size: cover;
      background-position: right center;
    }

    .capaIzquierda {
      background-color: #28227099;
      padding: 5%;

      .capaTexto {
        width: 65%;
        color: #fff;
        float: right;
        text-align: right;

        h2.tituloNoticia {
          font-size: $tit_noticias;
        }
      }
    }
  }

  .separador {
    margin: 3% auto;
    width: 70%;
    background-color: theme-color("secundario");
    height: 3px;
  }

  .lineacontinua {
    width: 100%;
    background-color: theme-color("secundario");
    height: 3px;
  }

  .contPrograma {
    margin-top: 20px;

    .capaIzquierda {
      background-color: #282270;
      padding: 2% 5%;

      .capaTexto {
        width: 75%;
        color: #fff;
        float: right;
        text-align: right;

        h2.titContPrograma {
          font-size: $tit_noticias;
          color: theme-color("blanco");
        }

        p {
          color: theme-color("blanco");
        }
      }
    }

    .imagenPrograma {
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  section.contTerritorios {
    h2 {
      font-size: $tit_noticias;
    }
  }

  section.contNoticia {
    padding-left: 16%;

    .titSeccion {
      font-size: $titSeccion;
    }

    hr {
      margin-bottom: 5%;
    }

    .textoNoticia {
      text-align: right;

      h2 {
        font-size: $tit_noticias;
      }
    }
  }

  .separacion {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  section.contExplora {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 16%;

    .titSeccion {
      font-size: $titSeccion;
    }

    hr {
      margin-bottom: 5%;
    }
  }

  section.contAgenda {
    margin-top: 5%;
    padding-left: 16%;

    .capaTextoEvento {
      width: 50%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 5%;

      .anhoFecha {
        font-size: 1.3rem;
        font-weight: 700;
      }

      .tituloNoticia {
        font-size: $tit_noticias;
      }

      h2::after {
        margin-top: 30px;
        display: block;
        left: 0;
        content: "";
        height: 2px;
        width: 30%;
        background-color: #13db00;
      }
    }

    .titSeccion {
      font-size: $titSeccion;
    }

    hr {
      margin-bottom: 5%;
    }

    .textoNoticia {
      text-align: right;
    }
  }

  section.contComunidad {
    margin-top: 5%;
    padding-left: 16%;

    .titSeccion {
      font-size: 1.6rem;
    }

    hr {
      margin-bottom: 5%;
    }
  }

  .lineaDerecha {
    margin-right: 0;
    width: 40%;
    background-color: theme-color("secundario");
    height: 3px;
  }

  .lineaIzquierda {
    margin-left: 0;
    width: 40%;
    background-color: theme-color("secundario");
    height: 3px;
  }

  .alignderecha {
    text-align: right;
  }

  .linkLeermas {
    font-weight: bold;
    color: theme-color("principal");

    .verde {
      color: theme-color("secundario");
    }
  }

  .linkLeermsB {
    font-weight: bold;
    color: theme-color("blanco");

    .verde {
      color: theme-color("secundario");
    }
  }

  @media (max-width: 1920px) {
    .container {
      max-width: 100% !important;
    }
  }

  @media (max-width: 1200px) {
    .sinPadding {
      padding: 0 15px;
    }
  }

  @media (max-width: 992px) {
    .destacadoPrincipal {
      .capaIzquierda {
        background-color: #28227099;
        padding: 5%;

        .capaTexto {
          width: 100%;
          color: #fff;
          float: left;
          text-align: left;
        }
      }
    }

    .contPrograma {
      margin-top: 20px;

      h2 {
        font-size: 1em;
      }

      .sinPadding {
        padding: 0 15px;
      }

      .capaIzquierda {
        background-color: #fff;
        padding: 0 15px;

        .capaTexto {
          background-color: #282270;
          width: 100%;
          color: #fff;
          padding: 2% 5%;
          float: left;
          text-align: left;
        }
      }
    }

    section.contTerritorios {
      padding-left: 2%;

      h2 {
        font-size: 1em;
        margin-top: 1%;
      }
    }

    .lineaDerecha {
      margin-left: 0;
      width: 40%;
      background-color: theme-color("secundario");
      height: 3px;
    }

    .alignderecha {
      text-align: left;
    }

    section.contNoticia {
      padding-left: 2%;

      .titSeccion {
        font-size: 2em;
      }

      .textoNoticia {
        text-align: left;
      }
    }

    section.contExplora {
      padding-left: 2%;
      margin-top: 5%;

      .titSeccion {
        font-size: 2em;
      }
    }

    section.contAgenda {
      padding-left: 1%;
      margin-top: 5%;

      .titSeccion {
        font-size: 2em;
      }
    }

    section.contComunidad {
      padding-left: 2%;
      margin-top: 5%;

      .titSeccion {
        font-size: 1.2em;
      }
    }
  }

  @media (max-width: 768px) {
    .destacadoPrincipal {
      .capaIzquierda {
        padding: 5% 10%;
      }
    }

    section.contAgenda {
      padding-left: 1%;
      margin-top: 5%;

      .articulo {
        h2.entry-title {
          color: #fff;
          min-height: auto;
        }

        .entry-content {
          margin-bottom: 25px;
          min-height: 100px;
        }
      }
    }
  }
}
