.banner {
  background-color: theme-color("blanco");
  position: fixed;
  z-index: 999;
  width: $nav_w;
  height: 100vh;
  -webkit-box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.25);

  #brandPrincipal {
    display: block;
  }

  &.estirado {
    width: 300px;
  }

  .contMenuPeq {
    text-align: center;
    padding-top: 25%;
  }

  .hamburger {
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 9999;
  }

  .hgrande {
    display: block;
  }

  .banderasHeader {
    position: absolute;
    bottom: 25%;
    z-index: 999;
    display: block;
    left: 15px;

    a {
      color: theme-color("secundario");
      font-weight: bold;

      &:hover {
        color: theme-color("principal");
      }
    }
  }

  @media (max-height: 750px) {
    .banderasHeader {
      bottom: 35%;
    }
  }

  .redesHeader {
    position: absolute;
    bottom: 5%;
    left: 20px;
    z-index: 999;

    ul.listaRedes {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;

      li.itemRedes {
        margin: 5px 0;

        img {
          max-width: 40px;
        }
      }
    }
  }

  .redesInline {
    display: inline-flex !important;

    li {
      margin: 0 10px !important;
    }
  }

  .banderasInline {
    display: inline-flex;
  }

  .moverBanderas {
    left: 100px !important;
    bottom: 12%;
  }

  .moverRedes {
    left: 50px !important;
  }

  #contMenu {
    min-width: 300px;
    width: 20%;
    background-color: rgba(256, 256, 256, 1);
    top: 0;
    position: fixed;
    left: 0;
    display: none;
    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.25);

    .abierto {
      left: 75px;
    }

    .row {
      height: 100vh;

      .colUno {
        text-align: center;
        padding-top: 7%;

        .brand {
          img {
            width: 70%;
            max-width: 160px;
          }
        }
      }
    }

    .nav-primary {
      ul {
        list-style-type: none;
        padding-left: 0;

        &#menu-menu-principal,
        &#menu-menu-principal-ingles {
          flex-direction: column;

          li {
            a {
              display: block;
              padding-left: 50px;
              padding-top: 2px;
              font-size: 1.5rem;
              font-weight: 700;
              text-transform: uppercase;
              color: theme-color("principal");

              &:hover {
                color: theme-color("secundario");
                text-decoration: none;
              }

              &.active {
                background-color: #000;
                color: theme-color("blanco");

                &:hover {
                  color: theme-color("secundario");
                  text-decoration: none;
                }
              }
            }

            .submenuCapa {
              position: fixed;
              background-color: rgba(256, 256, 256, 0.9);
              height: 100vh;
              top: 0;
              left: 300px;
              display: flex;
              align-items: center;

              .dropdown-menu {
                border: none;
                position: relative;
                background-color: transparent;

                &.show {
                  margin: 0;
                  border-radius: 0;
                  position: relative !important;
                  transform: translate3d(0, 0, 0) !important;
                }

                .dropdown-item {
                  width: auto;
                  display: block;
                  padding-left: 30px;
                  padding-top: 2px;
                  font-size: 1.2rem;
                  font-weight: 700;
                  text-transform: uppercase;
                  color: #282270;
                  clear: both;
                  white-space: break-spaces;

                  &:hover {
                    color: theme-color("secundario");
                    text-decoration: none;
                  }

                  &.active {
                    background-color: #000;
                    color: theme-color("blanco");

                    &:hover {
                      color: theme-color("secundario");
                      text-decoration: none;
                    }
                  }
                }
              }
            }

            &.show {
              a {
                color: theme-color("secundario");
              }

              .dropdown-toggle::after {
                transform: rotate(270deg);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .banderasHeader {
      display: none;
    }
  }

  @media (min-width: 1479px) {
    &.estirado {
      width: 20%;
    }

    #contMenu {
      width: 20%;

      .nav-primary {
        ul {
          &#menu-menu-principal,
          &#menu-menu-principal-ingles {
            li {
              .submenuCapa {
                left: 20%;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 570px) {
    .redesHeader {
      bottom: 7%;

      ul.listaRedes {
        li.itemRedes {
          img {
            max-width: 30px;
          }
        }
      }
    }

    .moverRedes {
      left: 10px !important;
    }

    .redesInline {
      bottom: 10%;
      left: 10px;

      ul.listaRedes {
        li.itemRedes {
          margin: 0 5px;
        }
      }
    }

    #contMenu {
      min-width: auto;
      width: 50%;
      background-color: rgba(256, 256, 256, 1);
      top: 0;
      position: fixed;
      left: 0;
      display: none;
      box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.25);

      .abierto {
        left: 75px;
      }

      .row {
        height: 100vh;

        .colUno {
          text-align: center;

          .brand {
            img {
              width: 70%;
            }
          }
        }
      }

      .nav-primary {
        ul {
          &#menu-menu-principal,
          &#menu-menu-principal-ingles {
            li {
              a {
                display: block;
                padding-left: 5px;
                padding-top: 2px;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
                color: theme-color("principal");

                &:hover {
                  color: theme-color("secundario");
                  text-decoration: none;
                }

                &.active {
                  background-color: #000;
                  color: theme-color("blanco");

                  &:hover {
                    color: theme-color("secundario");
                    text-decoration: none;
                  }
                }
              }

              .submenuCapa {
                left: 50%;
                display: flex;
                align-items: center;

                .dropdown-menu {
                  border: none;
                  position: relative;
                  background-color: transparent;

                  &.show {
                    margin: 0;
                    border-radius: 0;
                    position: relative !important;
                    transform: translate3d(0, 0, 0) !important;
                  }

                  .dropdown-item {
                    width: auto;
                    display: block;
                    padding-left: 5px;
                    padding-top: 2px;
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #282270;
                    clear: both;

                    &:hover {
                      color: theme-color("secundario");
                      text-decoration: none;
                    }

                    &.active {
                      background-color: #000;
                      color: theme-color("blanco");

                      &:hover {
                        color: theme-color("secundario");
                        text-decoration: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-height: 450px) {
    .redesHeader {
      bottom: 5%;

      ul.listaRedes {
        li.itemRedes {
          img {
            max-width: 25px;
          }
        }
      }
    }

    #contMenu {
      min-width: 200px;
      width: 200px;

      .row {
        height: 100vh;

        .colUno {
          text-align: center;

          .brand {
            img {
              width: 70%;
            }
          }
        }
      }

      .nav-primary {
        ul {
          &#menu-menu-principal,
          &#menu-menu-principal-ingles {
            li {
              a {
                display: block;
                padding-left: 5px;
                padding-top: 2px;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                color: theme-color("principal");
              }

              .submenuCapa {
                position: fixed;
                background-color: rgba(256, 256, 256, 0.9);
                height: 100vh;
                top: 0;
                left: 200px;
                display: flex;
                align-items: center;

                .dropdown-menu {
                  border: none;
                  position: relative;
                  background-color: transparent;

                  &.show {
                    margin: 0;
                    border-radius: 0;
                    position: relative !important;
                    transform: translate3d(0, 0, 0) !important;
                  }

                  .dropdown-item {
                    width: auto;
                    display: block;
                    padding-left: 30px;
                    padding-top: 2px;
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #282270;
                    clear: both;

                    &:hover {
                      color: theme-color("secundario");
                      text-decoration: none;
                    }

                    &.active {
                      background-color: #000;
                      color: theme-color("blanco");

                      &:hover {
                        color: theme-color("secundario");
                        text-decoration: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.headerMovil {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(256, 256, 256, 1);
  padding: 5px 10px;
  height: 60px;

  .banderasMovil {
    display: none;
  }
}

@media (max-width: 992px) {
  .headerMovil {
    display: block;

    .banderasMovil {
      margin-top: 6px;
      display: block;
      float: right;

      .wpml-ls-legacy-list-vertical {
        a {
          padding: 1px 10px;
          color: theme-color("secundario");
          font-weight: bold;
        }
      }
    }
  }

  .banner {
    width: 0;

    #brandPrincipal {
      display: none;
    }

    .hgrande {
      display: none;
    }

    .redesHeader {
      ul.listaRedes {
        display: none;
      }
    }
  }
}
