.page-template-contacto {
  .main {
    h3 {
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      border-bottom: 2px solid theme-color("secundario");
      text-transform: uppercase;
      font-size: 2rem;
      color: theme-color("principal");
    }
  }

  #gform_wrapper_1 {
    .consulta {
      .chosen-container-single {
        .chosen-single {
          position: relative;
          display: block;
          overflow: hidden;
          font-size: 20px;
          padding: 0 0 0 8px;
          height: 38px;
          border: 1px solid #aaa;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.1);
          color: #444;
          text-decoration: none;
          white-space: nowrap;
          line-height: 38px;
        }
      }
    }

    .gfield_label {
      font-weight: 400;
      color: theme-color("gris-medio");
      text-transform: uppercase;
      width: 18%;
      line-height: 37px;
    }

    .left_label {
      li.hidden_label input {
        margin-left: 0;
      }
    }

    .ginput_container label {
      color: theme-color("gris-medio");
    }

    .ginput_container {
      width: 80%;
      margin-left: 20%;
    }

    .consentimiento {
      margin-top: 0;
      margin-bottom: 0;

      .gfield_consent_label {
        a {
          color: theme-color("principal");
          text-decoration: underline;
        }
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
    }

    textarea {
      border: none;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 180px;
      margin-bottom: 30px;
    }

    input[type="submit"] {
      border: 4px solid theme-color("secundario");
      color: theme-color("secundario");
      text-transform: uppercase;
      font-weight: 900;
      border-radius: 2em;
      font-size: 0.8rem;
      letter-spacing: 0.02em;
      padding: 0.2em 0.8em 0.18em;
      transition: background-color $trans;
      background-color: rgba(256, 256, 256, 1);

      &:hover {
        background-color: theme-color("principal");
      }
    }

    .gform_footer {
      margin-left: 20%;
    }
  }

  @media (max-width: 690px) {
    #gform_wrapper_1 {
      .consulta {
        .chosen-container-single {
          .chosen-single {
            position: relative;
            display: block;
            overflow: hidden;
            font-size: 20px;
            padding: 0 0 0 8px;
            height: 38px;
            border: 1px solid #aaa;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.1);
            color: #444;
            text-decoration: none;
            white-space: nowrap;
            line-height: 38px;
          }
        }
      }

      .gfield_label {
        font-weight: 400;
        color: theme-color("gris-medio");
        text-transform: uppercase;
        width: 18%;
        line-height: 37px;
      }

      .left_label {
        li.hidden_label input {
          margin-left: 0;
        }
      }

      .ginput_container label {
        color: theme-color("gris-medio");
      }

      .ginput_container {
        width: 100%;
        margin-left: 0;
      }

      .consentimiento {
        margin-top: 0;
        margin-bottom: 0;

        .gfield_consent_label {
          a {
            color: theme-color("principal");
            text-decoration: underline;
          }
        }
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
      }

      textarea {
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
      }

      input[type="submit"] {
        border: 4px solid theme-color("secundario");
        color: theme-color("secundario");
        text-transform: uppercase;
        font-weight: 900;
        border-radius: 2em;
        font-size: 0.8rem;
        letter-spacing: 0.02em;
        padding: 0.2em 0.8em 0.18em;
        transition: background-color $trans;
        background-color: rgba(256, 256, 256, 1);

        &:hover {
          background-color: theme-color("principal");
        }
      }

      .gform_footer {
        margin-left: 0;
      }
    }
  }
}
