.page-template-merlin-hub-app {
  .fixedBadges {
    position: fixed;
    top: 70px;
  }

  .badges {
    display: flex;
    width: 14rem;
    flex-direction: column;
    align-items: center;
    background-color: theme-color("secundario");
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem;

    .icono {
      position: absolute;
      display: flex;
      top: -2rem;
      width: 5rem;
      height: 5rem;
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);

      img {
        width: 100%;
      }
    }

    h3 {
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      font-size: 1rem;
      text-align: center;
      margin-top: 3rem;

      span {
        display: block;
        font-weight: 300;
      }
    }

    .insignias {
      width: 100%;
      display: flex;
      justify-content: center;

      .insignia {
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        img {
          height: 1.7rem;
          width: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .badges {
      width: 100%;
    }

    .icoImagen {
      text-align: center;

      img {
        max-width: 40%;
        margin-bottom: 2%;
      }
    }
  }
}
