.page,
.single {
  .page-header {
    h1 {
      font-weight: 900;
      text-transform: uppercase;
      padding-bottom: 0.3em;
      margin-bottom: 0.5em;
      border-bottom: 2px solid theme-color("secundario");
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    border-bottom: none;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 0.4em;

    &::after {
      position: absolute;
      display: block;
      bottom: -0.2em;
      left: 0;
      content: "";
      height: 2px;
      width: 30%;
      background-color: theme-color("secundario");
    }
  }
}
