/* stylelint-disable no-descending-specificity */
.noticias {
  .infinite-scroll-container {
    width: 100%;
  }

  .infinite-scroll-request {
    display: none;
  }

  .infinite-scroll-last {
    display: none;
  }

  .infinite-scroll-error {
    display: none;
  }

  .art {
    flex-wrap: wrap;

    .img {
      order: 1;

      img {
        width: 100%;
        height: auto;
      }
    }

    .textos {
      padding-right: $spacer;
      padding-left: $spacer;

      h2 {
        font-size: 1rem;
        border-bottom: 2px solid theme-color("secundario");
      }

      p {
        font-size: 0.8rem;

        &.leermas {
          font-weight: 700;
        }
      }
    }
  }

  @include media-breakpoint-up("sm") {
    .main .row {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .art {
      align-items: center;

      .img {
        margin-bottom: 0;
        width: 60%;
      }

      .zoom {
        position: relative;
        padding-top: 19%;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          transition: transform 0.5s ease;
        }
      }

      .textos {
        padding-right: 2rem;
        padding-left: 0;
        width: 40%;
        text-align: right;

        h2 {
          border-bottom: none;
          position: relative;

          &::after {
            position: absolute;
            display: block;
            bottom: -0.2em;
            right: 0;
            content: "";
            height: 2px;
            width: 40%;
            background-color: theme-color("secundario");
          }
        }
      }

      &:nth-child(even) {
        .img {
          order: 0;
        }

        .textos {
          padding-right: 0;
          padding-left: 2rem;
          width: 40%;
          text-align: left;

          h2 {
            &::after {
              right: auto;
            }
          }
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
