.el-norte-es-el-centro {
  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    border-bottom: 2px solid theme-color("secundario");
  }

  @include media-breakpoint-up("md") {
    h2 {
      margin-top: 0;
      border-bottom: none;
      position: relative;

      &::after {
        position: absolute;
        display: block;
        bottom: -0.2em;
        left: 0;
        content: "";
        height: 2px;
        width: 40%;
        background-color: theme-color("secundario");
      }
    }
  }
}
