.single-evento {
  background-color: #f1f1f1;
  overflow-x: hidden;
  color: theme-color("principal");

  header {
    .nav-links {
      width: 100%;

      a {
        color: theme-color("gris-medio");
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-right: 1em;
        padding-right: 1em;
        border-right: 2px solid theme-color("gris-medio");
        line-height: 30px;

        span {
          position: relative;
          top: 0.12em;
          font-size: 50px;
          font-weight: 100;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
    }
  }

  .page-header {
    h1 {
      margin-bottom: 0.2em;
    }
  }

  .diaEvento {
    font-size: 9.7rem;
    font-weight: 200;
    color: theme-color("principal");
    line-height: 1;
    text-align: center;
  }

  .mesEvento {
    font-size: 1.8rem;
    font-weight: 700;
    color: theme-color("principal");
    text-transform: uppercase;
    text-align: center;
  }

  .horaEvento {
    font-size: 1.1rem;
    color: theme-color("principal");
    text-align: center;
  }

  .entry-title {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: theme-color("principal");
  }

  .tipoEvento {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: theme-color("principal");
  }

  p {
    font-size: 0.8rem;
  }

  .headerEvento {
    position: relative;
  }

  .linkLugarEvento {
    color: theme-color("principal");
    right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    top: 15px;

    &:hover {
      color: theme-color("secundario");
    }

    &::before {
      content: url(/wp-content/themes/merlinhub/dist/images/locLugarEvento.png);
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .contenidoEvento {
    display: block;
    width: 100%;
  }

  .nombreEdificioMapa {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  @media (max-width: 1920px) {
    .container {
      max-width: 100% !important;
    }
  }

  @media (max-width: 768px) {
    header {
      .nav-links {
        width: 100%;

        a {
          color: theme-color("gris-medio");
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          margin-right: 1em;
          padding-right: 1em;
          border-right: 2px solid theme-color("gris-medio");
          line-height: 30px;

          span {
            position: relative;
            top: 0.12em;
            font-size: 50px;
            font-weight: 100;
          }

          &:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
          }
        }
      }
    }

    .diaEvento {
      font-size: 4.7rem;
      font-weight: 200;
      color: theme-color("principal");
      line-height: 1;
    }

    .mesEvento {
      font-size: 1rem;
      font-weight: 700;
      color: theme-color("principal");
      text-transform: uppercase;
    }
  }
}
