body.single-territorio {
  overflow-y: hidden;
}

.single-territorio {
  .wpgmp_map {
    height: 100vh !important;
    overflow: visible !important;
  }

  .barraLateral {
    position: fixed;
    right: 0;
    top: 0;
    height: 0;
    background-color: theme-color("secundario");
    width: 8px;
  }

  .main {
    padding-bottom: 0;
    height: 100%;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  .box {
    background-color: theme-color("blanco");
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &:last-child {
      margin-right: 350px;
      background-color: theme-color("scundario");
    }

    a {
      color: theme-color("secundario");
    }
  }

  .altoTotal {
    height: 100vh;
  }

  .parallax {
    position: relative;
    background: transparent;

    .imgFondo {
      position: absolute;
      z-index: -1;
      object-fit: cover;
      height: 100vh;
      width: 150%;
      right: 0;
    }
  }

  .contSeccion {
    margin-top: 15%;
  }

  .conImagen {
    img {
      object-fit: cover;
      height: 100vh;
      width: 100%;
    }
  }

  .gridTerritorioSB {
    .sinBorde {
      .gridCont {
        padding: 1% 2%;
      }
    }

    .line-drawing-demo {
      svg {
        width: 100%;
        max-height: 100px;
        margin-bottom: 6%;
      }
    }

    .titGridSB {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      margin: 3% 0;
      color: theme-color("principal");
    }

    .txtGridSB {
      font-size: 0.7rem;
      padding: 2% 10%;
      color: theme-color("principal");
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
    }

    .imgGridSB {
      text-align: center;
      margin-bottom: 2%;

      img {
        max-width: 100px;
      }
    }
  }

  .gridTerritorio {
    .conBorde {
      border-style: solid;
      border-width: 20px;
      padding: 15px;
      border-image: url(/wp-content/themes/merlinhub/dist/images/borde_tablaNuevo.png) 20;

      .gridCont {
        padding: 1% 2%;
      }

      .separador {
        width: 85%;
        height: 3px;
        background-color: theme-color("principal");
        margin-left: -60px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .sepVerticalUno {
        width: 3px;
        background-color: theme-color("secundario");
        height: 60%;
        position: absolute;
        left: 25%;
        top: 20%;
      }

      .sepVerticalDos {
        background-color: theme-color("secundario");
        width: 3px;
        height: 60%;
        position: absolute;
        left: 50%;
        top: 5%;
      }

      .sepVerticalTres {
        background-color: theme-color("secundario");
        width: 3px;
        height: 60%;
        position: absolute;
        left: 75%;
        top: 35%;
      }
    }

    .txtGrid {
      font-size: 0.8rem;
      padding: 2% 10%;
      color: theme-color("principal");
      font-weight: 700;
      line-height: 1.2;
    }

    .imgGrid {
      text-align: center;
      margin-bottom: 2%;

      img {
        max-width: 100px;
      }
    }
  }

  .tituloSeccion {
    color: theme-color("principal");
    font-size: 2em;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
  }

  .contTexto {
    padding: 0 5%;

    .lineaIzquierda {
      margin-left: 0;
      width: 40%;
      background-color: theme-color("secundario");
      height: 3px;
    }
  }

  #arrowAnim {
    width: 50px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .arrow {
    width: 15px;
    height: 15px;
    border: 3px solid;
    border-color: theme-color("secundario") transparent transparent theme-color("secundario");
    transform: rotate(-225deg);
  }

  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  @media (min-width: 982px) {
    p {
      white-space: normal;
    }

    .tituloSeccion {
      color: theme-color("principal");
      font-size: $titSeccion;
      white-space: normal;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
    }

    .contTexto {
      width: 100%;
      padding: 0 15% 0 10%;
      vertical-align: middle;
      display: table-cell;
      height: 100vh;

      .lineaIzquierda {
        margin-left: 0;
        width: 40%;
        background-color: theme-color("secundario");
        height: 3px;
      }
    }
  }

  @media (max-width: 992px) {
    main {
      height: auto !important;
    }

    .box {
      width: 100% !important;
      height: auto !important;
      padding: 2% 0;
      display: block;
      vertical-align: top;
      white-space: normal;
      word-wrap: break-word;

      svg {
        height: auto !important;
      }
    }

    .parallax {
      position: relative;
      background: transparent;
      height: 50vh;

      .imgFondo {
        position: relative;
        width: 100%;
        height: 50vh;
      }
    }

    .conBorde {
      border: none;
      border-style: none;

      .gridCont {
        padding: 1% 2%;
      }

      .separador {
        display: none;
      }

      .sepVerticalUno {
        display: none;
      }

      .sepVerticalDos {
        display: none;
      }

      .sepVerticalTres {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  body.single-territorio {
    overflow-y: scroll !important;
  }

  .single-territorio {
    .wrap {
      display: block;
      margin-top: 1px;

      .txtTituloCont {
        padding: 2% 1%;
        height: auto;
      }
    }

    .imagenCont {
      background-color: transparent;
    }

    .editorCont {
      padding: 2% 1%;
    }

    .txtContSF {
      background-color: transparent;
    }

    .separadorCont {
      display: none;
    }

    .gridTerritorio {
      background-color: transparent;
      height: auto;

      .altoTotal {
        height: auto;
      }
    }

    .gridTerritorioSB {
      height: auto;

      .altoTotal {
        height: auto;
      }
    }

    .contMapa {
      background-color: white;
    }
  }

  footer#footer-territorio {
    position: relative;
    width: 100% !important;
    height: auto;
    max-width: 100%;
  }
}
