.single-territorio {
  .conImagen {
    img {
      object-fit: cover;
      height: 100vh;
      width: 100%;
    }
  }

  .tituloSeccion {
    color: theme-color("principal");
    font-size: 2em;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
  }

  .contTexto {
    width: 100%;
    padding: 0 5%;

    .lineaIzquierda {
      margin-left: 0;
      width: 40%;
      background-color: theme-color("secundario");
      height: 3px;
    }
  }

  @media (min-width: 982px) {
    #contenedor .box {
      width: calc(100vw - 15%);
      height: 100vh;
      display: inline-block;
      position: relative;
    }

    #contenedor {
      z-index: 9;
      overflow-y: scroll;
      overflow-x: hidden;
      transform: rotate(270deg) translateX(-100%);
      transform-origin: top left;
      background-color: #fff;
      width: 100vh;
      height: 100vw;
      position: absolute;
    }

    #contenedor2 {
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
      white-space: nowrap;

      .container-fluid {
        position: absolute;
      }
    }

    p {
      white-space: normal;
      line-height: 1;
    }

    .tituloSeccion {
      color: theme-color("principal");
      font-size: $titSeccion;
      white-space: normal;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
    }

    .contTexto {
      width: 100%;
      padding: 0 5%;

      .lineaIzquierda {
        margin-left: 0;
        width: 40%;
        background-color: theme-color("secundario");
        height: 3px;
      }
    }

    #contenedor .footerBox {
      width: 250px !important;
      height: 100vh;
      display: inline-block;
      position: relative;
    }
  }
}
//.one {
//  background-size: cover;
//  background-color: #45ccff;
//}

//.two {
//  background-size: cover;
//  background-color: #49e83e;
//}

//.three {
// background-size: cover;
// background-color: #edde05;
//}

//.four {
// background-size: cover;
// background-color: #e84b30;
//}
// Translating the content's X ruines the scrollbar length. */
//#container {
//overflow:scroll;
//transform: rotate(90deg) translateY(-100%);
//transform-origin: top left;
//background-color:#999;
//position:absolute;
//width:100vh;
//height:100vw;
//}
//#container2 {
//transform: rotate(-90deg) translateX(-100vw);
//transform-origin: top left;
//white-space:nowrap;
//}
//
