/* stylelint-disable no-descending-specificity */

.single-espacio {
  .col-izq {
    width: 100%;

    section.mapa {
      position: relative;
    }
  }

  header {
    h1 {
      font-weight: 900;

      &::after {
        position: relative;
        top: 10px;
        display: block;
        content: "";
        height: 3px;
        width: 100px;
        background-color: theme-color("secundario");
      }
    }

    .nav-links {
      width: 100%;
      text-align: right;

      a {
        color: theme-color("gris-medio");
        font-size: 0.7rem;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-right: 1em;
        padding-right: 1em;
        border-right: 2px solid theme-color("gris-medio");
        line-height: 30px;

        span {
          position: relative;
          top: 0.08rem;
          font-size: 28px;
          font-weight: 100;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
    }
  }

  .iconos {
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 1rem 0.5rem;

      svg {
        width: 100%;
        max-width: 60px;
      }

      ul {
        margin-top: 1rem;
        padding-left: 0;
        list-style-type: none;
        text-align: center;

        li {
          text-transform: uppercase;
          color: theme-color("principal");
          font-size: 12px;
        }
      }
    }
  }

  .microsite {
    a {
      display: block;
      border: 4px solid theme-color("principal");
      border-radius: 4em;
      text-transform: uppercase;
      font-weight: 700;
      color: theme-color("secundario");

      &:hover {
        background-color: theme-color("secundario");
        color: theme-color("principal");
      }
    }
  }

  .calidad {
    .cert {
      width: 50%;
      max-width: 150px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .galeria {
    width: 100%;

    .glide {
      &__slides {
        margin-bottom: 0;
      }

      &__slide {
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }

      &__arrow {
        padding: 0;
        border: none;
        box-shadow: none;

        svg {
          width: 40px;

          g polygon {
            transition: fill $trans;
          }
        }

        &--left {
          left: 0;
        }

        &--right {
          right: 0;
        }

        &:hover {
          svg g polygon {
            fill: theme-color("secundario");
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .entry-content {
      p {
        font-size: 0.8rem;
      }
    }

    header {
      h1 {
        width: 100%;
      }

      .nav-links {
        width: 100%;
      }
    }

    .iconos {
      article {
        width: 33%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .contenedor {
      width: calc(100vw - 90px);

      .col-izq {
        width: calc(60vw - 90px);
        min-height: 100vh;
        position: relative;
      }

      .col-der {
        width: 40vw;
        right: 0;
      }
    }

    .iconos {
      article {
        width: 20%;
      }
    }

    .entry-content {
      p {
        font-size: 0.7rem;
      }
    }

    .galeria {
      .glide {
        &__slide {
          height: 100vh;
          background-size: cover;
        }
      }

      &.fija {
        position: fixed;
        right: 15px;
      }
    }
  }
}
