.single-streaming {
  background-color: #f1f1f1;
  overflow-x: hidden;
  color: theme-color("principal");

  h1 {
    font-size: 1.6rem;
  }

  .container {
    max-width: 1200px !important;

    .fechaStreaming {
      text-align: center;
      font-weight: bold;
      font-size: 1.3rem;
      color: #13db00;
    }

    .lugarStreaming {
      text-align: center;
      font-size: 1rem;
    }

    img.fotoPonente {
      width: 100%;
      max-width: 150px;
      margin-bottom: 10px;
    }

    .nombrePonente {
      font-weight: bold;
      text-align: center;
    }

    .tituloSeccion {
      font-weight: bold;
      color: #13db00;
    }

    .puestoPonente {
      text-align: center;
      font-size: 0.85rem;
      line-height: 1.2;
      margin: 10px 0;
    }

    .moderaLabel {
      min-height: 30px;
      margin-bottom: 10px;
      font-weight: bold;
      color: #13db00;
    }

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
    }

    .embed-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
