.template-eventbrite {
  .altoCompleto {
    height: 100%;
  }

  .fondoLink {
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
  }

  .capaTexto {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
  }

  .fechaIni {
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    line-height: 1;
  }

  .fechaFin {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
  }

  .fechasCapa {
    color: #fff;
    font-size: 0.7rem;
    margin-bottom: 10%;
  }

  .capaTitulo {
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 10%;
    text-transform: uppercase;
  }

  .linkLugarEvento {
    color: #13db00;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.2;
    margin-top: 10%;
  }

  .linkLugarEvento::before {
    content: url(/wp-content/themes/merlinhub/dist/images/locLugarEvento.png);
    margin-right: 10px;
    vertical-align: middle;
  }
}
