.template-eventos {
  #botonesMes {
    .btn {
      display: none;
    }
  }

  .fechaEvento {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.2;
  }

  .anhoFecha {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
