.wrap {
  margin-left: $nav_w;
  padding-top: 0;
}

@media (max-width: 992px) {
  .wrap {
    margin-left: 0;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .wrap {
    margin-left: 0;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #282270;
}

html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.6rem;
}

h4,
.h4 {
  font-size: 1.3rem;
}

@media (max-width: 992px) {
  h1,
  .h1 {
    font-size: 2.2rem;
  }

  h2,
  .h2 {
    font-size: 1.7rem;
  }

  h3,
  .h3 {
    font-size: 1.3rem;
  }

  h4,
  .h4 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 1.6rem;
  }

  h2,
  .h2 {
    font-size: 1.4rem;
  }

  h3,
  .h3 {
    font-size: 1.2rem;
  }

  h4,
  .h4 {
    font-size: 1rem;
  }
}

a {
  transition: color $trans, background-color $trans;
  outline: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  outline: none !important;
}

h2 {
  text-transform: uppercase;
  color: theme-color("principal");
  font-weight: 900 !important;
}

main {
  padding-bottom: 3rem;

  p {
    color: theme-color("principal");
  }

  .single-espacio & {
    padding-bottom: 0;
  }
}

// CSS loader
.infinite-scroll-request {
  display: flex;
  justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid theme-color("principal");
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  20% {
    opacity: 1;
    transform: translateX(-10px);
  }

  80% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  20% {
    opacity: 1;
    transform: translateX(-10px);
  }

  80% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.page-load-status {
  width: 100%;

  p {
    display: inline-block;
    background-color: $gray-300;
    border-radius: 0.3em;
    padding: 0.5em 0.8rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
  }
}

.button-container {
  button {
    border: 3px solid theme-color("secundario");
    background-color: #fff;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: theme-color("secundario");
    border-radius: 1.2em;
    padding: 0.3em 0.5em 0.2em;
    transition: background-color $trans;

    &:hover {
      background-color: theme-color("principal");
    }
  }

  a {
    border: 3px solid theme-color("secundario");
    background-color: #fff;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: theme-color("secundario");
    border-radius: 1.2em;
    padding: 0.3em 0.5em 0.2em;
    transition: background-color $trans;

    &:hover {
      background-color: theme-color("principal");
    }
  }
}

.alinearDer {
  text-align: end;
}

.articulo {
  height: 100%;
  position: relative;
  overflow: hidden;

  .tipoEvento {
    text-transform: uppercase;
  }

  h2.entry-title {
    color: theme-color("blanco");
    font-size: 0.8rem;
    min-height: 85px;
  }

  .entry-content {
    color: theme-color("blanco");
    font-size: 0.7rem;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 50px;
    min-height: 250px;
  }

  .diaEvento {
    font-size: 5em;
    font-weight: 100;
    line-height: 1;
  }

  .mesEvento {
    text-transform: uppercase;
  }

  .horaEvento {
    font-size: 0.7em;
    font-weight: 300;
  }

  .capaTexto {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: theme-color("blanco");
    padding: 5%;
  }

  .fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    background-position: center;
  }
}

a:hover .fondo,
a:focus .fondo {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition: transform 1.05s ease-in-out;
  -ms-transition: transform 1.05s ease-in-out;
}

.linkLugarEvento {
  color: theme-color("secundario");
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  display: flex;
  line-height: 1.2;

  &::before {
    content: url(/wp-content/themes/merlinhub/dist/images/locLugarEvento.png);
    margin-right: 10px;
    vertical-align: middle;
  }
}
