/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  principal: #282270,
  secundario: #13db00,
  texto: #000,
  blanco: #fff,
  gris-claro: #cecece,
  gris-medio: #7c7c7c,
  gris-oscuro: #303030,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  dxl: 1900px
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  dxl: 1900px
);

$hamburger-layer-width: 30px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #13db00;

$trans: 0.5s;
$nav_w: 75px;

/** Tamaño para los textos */

$tit_noticias: 1rem;
$textos_p: 0.8rem;
$titSeccion: 2rem;
